body {
  font-family: Arial, sans-serif;
  background: #f5f7fb;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  background: #0b74ff;
  color: white;
  padding: 20px;
  text-align: center;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  max-width: 750px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

video {
  width: 100%;
  background: black;
  border-radius: 10px;
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button {
  background: #0b74ff;
  color: white;
  cursor: pointer;
  border: none;
  font-weight: bold;
}

button:hover {
  background: #095fcc;
}

#list .item {
  display: flex;
  justify-content: space-between;
  background: #eef3ff;
  padding: 12px;
  border-radius: 10px;
  margin-top: 10px;
}

#compareResult {
  background: #efefef;
  padding: 10px;
  border-radius: 8px;
  margin-top: 10px;
}

footer {
  text-align: center;
  padding: 20px;
  color: #666;
}
